
{% extends 'Doctor.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'img/juu.jpeg' %}{% endblock %}

{% block headers %}
    <h1><i>Acerca de</i></h1>
    <span class="subheading"><b>NOSOTROS</b></span><br><br><br><br>
{% endblock %}

{% block content %}
    <p style="text-align:center;"><img src="https://pm1.narvii.com/6452/918bd286a4c2a6475f4595e37be2043ddfc4a3ad_hq.jpg" alt="Logo InternetCtrl"></p>



    <div class="container">
      <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" style="ro" src="{% static 'img/yo.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <div class="row">
                <h2 class="section-heading">Jhon Loor</h2>
                <p class="text-muted"><i><b>(Jhony)</b></i></p>
            </div>
            <p><b>Autodidacta. Guitarrista, aspirante a músico y a chef; ama los gatos y el chocolate.<br><i>"Actualmente tengo 19, estoy empezando en este vasto mundo de la programacion y parece ser divertido y a la vez frustrante, me gusta mucho la música y me gustaría formar una banda musical; mi banda favorita se llama <a href="https://www.youtube.com/channel/UC28OQSWdiW7jkadedZRRyZA">The Strokes</a>."</i></b></p>

      </div>
    </div><br><br>

            <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'img/jua.jpeg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <div class="row">
                <h2 class="section-heading">Mateo Fernandez</h2>
                <p class="text-muted"><i><b>(Juakin)</b></i></p>
            </div>
            <p><b><i>"Tengo 20 años y estudio en la universidad técnica de manabi, actualmente curso el 4to semestre de la carrera de ingeniería en sistemas y aquí está mi canal de <a href="https://www.twitch.tv/ezzariuz?sr=a">twich</a> para que se den una vueltita"<br></i></b></p>
            <p class="text-muted"><i><b>Creador de la portada de esta página</b></i></p>

      </div>
    </div><br><br>

            <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-2 offset-lg-1">
          <img class="img-fluid avatar" src="{% static "img/j.jpg" %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <div class="row">
                <h2 class="section-heading"></h2>
                <h2 class="section-heading">Henry Cantos</h2>
                <p class="text-muted"><i><b></b></i></p>
            </div>
            <p><b><i>"Que bendición ve con la fe de Cristo siempre en mi para que no me bananeen en la vida"</i></b></p>
      </div>
    </div><br><br>

        <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static "img/wa.jpeg" %}">
        </div>
        <div class="col-lg-7 col-md-8">
            <div class="row">
                <h2 class="section-heading">Washington Intriago</h2>
                <p class="text-muted"><i><b>(El Wacho)</b></i></p>
            </div>
            <p><b><i>"Hola, tengo 20 años estudio en la UTM al igual que todos mis compañeros y actualmente estoy pasando el 4to semestre de la carrera de ingeniería en sistemas.</i></b></p>
      </div>
    </div><br><br>





        <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static "img/jo.jpeg" %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <div class="row">
                <h2 class="section-heading">Jorge López</h2>
                <p class="text-muted"><i><b></b></i></p>
            </div>
            <p><b>Soy Jorge Lopez tengo 19 años, estudiante de la carrera "Sistemas de la Información ", apasionado a las computadoras y al Fútbol.</b></p>
      </div>
    </div><br><br>

    <p style="text-align:center;"><img src="https://pm1.narvii.com/6452/918bd286a4c2a6475f4595e37be2043ddfc4a3ad_hq.jpg" alt="Logo InternetCtrl"></p>
<br><br>
{% endblock %}
