 {% extends "Doctor.html" %}
{% include 'messages.html' %}

{% block title %} Banke-T | Inicio {% endblock %}



{% block background %}{% load static %}{% static 'img/portada.jpg' %}{% endblock %}

 {% block headers %}


     <h1><strong><i>"A falta de amor, unos <u>Banke-T's</u> al pastor"</i></strong></h1>
     <span class="subheading"><strong>Deléitese sin preocupaciones...</strong></span><br><br>

     <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-3x fa-stack-2x"></i>
                    <i class="fa fa-spoon fa-stack-2x fa-inverse"></i>
                  </span>
                </a>


     <a href="banquetes/" class="btn btn-danger" type="submit">Ver Promos</a> <br><br>
{% endblock %}

{% block content %}


        <style>

    body{

         background-image : url("https://cdna.artstation.com/p/assets/images/images/022/177/648/original/cara-kornhaus-fire-copy.gif?1607041513");
    }
    </style>
<br>
    <div class="card bg-dark text-white align-bottom border-danger " style="max-width:28rem; left: 465px; border-width: medium">
  <div class="card-body">
    <h1 class="card-title">¡HOLA, COMENSAL!</h1>
  </div>

    </div><br><br>

<div class="card bg-dark text-white border-warning px-2" style="max-width:78rem; left: 50px; border-width: medium">
  <div class="card-body">
    <p class="card-text"><b>Sean cordialmente bienvenidos a nuestro sitio web en donde contamos con una excelente variedad de Banke-T's con las 3-B: Buenos, Bonitos y Baratos. Cada uno de ellos se encuentran a la disposición de usted, el comensal. Esperemos se sienta cómodo y disfrute de todo lo que le ofrecemos y se dará cuenta que no tendrás arrepentimiento alguno.</b></p>
  </div>
    </div><br>

    <div class="card bg-dark text-white border-success " style="display: flex;flex-direction: row; max-width:38em; left: 250px; border-width: thin">
      <div class="card-body">
          <h5 class="card-title"><b>¿Tienes mucha hambre y no sabes a donde ir o que pedir?</b></h5>
    <p class="card-text text-justify"> Te invitamos a que le eches un vistazo a nuestro suculento listado, en el cual contamos con una gran variedad de exquisiteses gastrónomicas con los mejores y mas frescos ingredientes que te puedes encontrar, además de contar con el mejor servicio de entrega a domicilio tan rapido que no notaras cuando llegó.</p>
</div>
    <link href="{% static 'css/carru.css' %}" rel="stylesheet">
<div class="csslider1 autoplay cs_handle border-primary" style="width: 4000px;">
  <input name="cs_anchor1" id="cs_slide1_0" type="radio" class="cs_anchor slide">
  <input name="cs_anchor1" id="cs_slide1_1" type="radio" class="cs_anchor slide">
  <input name="cs_anchor1" id="cs_slide1_2" type="radio" class="cs_anchor slide">
  <input name="cs_anchor1" id="cs_play1" type="radio" class="cs_anchor" checked="">
  <input name="cs_anchor1" id="cs_pause1_0" type="radio" class="cs_anchor pause">
  <input name="cs_anchor1" id="cs_pause1_1" type="radio" class="cs_anchor pause">
  <input name="cs_anchor1" id="cs_pause1_2" type="radio" class="cs_anchor pause">
  <ul>
	  <div>
		  <img src="{% static "img/pu1.jpeg" %}" style="width: 100%;">
	  </div>
	  <li class="num0 img">
		  <a href="https://webdevpuneet.com/css-only-slider/" target="_blank">
			  <img src="{% static "img/pu1.jpeg" %}" alt="" title="">
		  </a>
	  </li>
	  <li class="num1 img">
		  <a href="https://webdevpuneet.com/css-only-slider/" target="_blank">
			  <img src="{% static "img/pu5.jpeg" %}" alt="" title="">
		  </a>
	  </li>
	  <li class="num2 img">
		  <a href="https://webdevpuneet.com/css-only-slider/" target="_blank">
			  <img src="{% static "img/pu8.jpeg" %}" alt="" title="">
		  </a>
	  </li>
  </ul>
	<div class="cs_play_pause">
		<label class="cs_play" for="cs_play1">Play</label>
	</div>
  <div class="cs_arrowprev">
		  <label class="num0" for="cs_slide1_0"><span><i></i></span></label>
		  <label class="num1" for="cs_slide1_1"><span><i></i></span></label>
		  <label class="num2" for="cs_slide1_2"><span><i></i></span></label>
  </div>
  <div class="cs_arrownext">
		  <label class="num0" for="cs_slide1_0"><span><i></i></span></label>
		  <label class="num1" for="cs_slide1_1"><span><i></i></span></label>
		  <label class="num2" for="cs_slide1_2"><span><i></i></span></label>
  </div>
  <div class="cs_bullets">
		  <label class="num0" for="cs_slide1_0">
			  <span class="cs_point"></span>
		  </label>
		  <label class="num1" for="cs_slide1_1">
			  <span class="cs_point"></span>
		  </label>
		  <label class="num2" for="cs_slide1_2">
			  <span class="cs_point"></span>
		  </label>
  </div>
</div>
    </div><br>


    <div class="card text-center border-danger" style="border-width: medium">
  <div class="card-header bg-warning">
                          <span class="fa-stack -align-right">
                    <i class="fa fa-3x fa-stack-2x"></i>
                    <i class="fa fa-hand-peace-o fa-stack-2x fa-inverse"></i>
                  </span>
  </div>
  <div class="card-body">
    <h5 class="card-title text-danger">El cliente es nuestra prioridad</h5>
      <p class="card-text "><b>A continuacion te mostraremos el secreto de todas nuestras comidas:</b></p>
  </div>

  </div>
</div>



        <link href="{% static 'css/gif.css' %}" rel="stylesheet">

<div id="container">
	<a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://i.pinimg.com/originals/77/bd/95/77bd9523d3332fd28e3e0baf341a95b8.gif"> </a>
	<div class="box-text">
	<h1>COCINA</h1>
	<br><br><br><br><p>Inspirado en la cocina de leña y en la cocina gourmet, fusionamos estos dos estilos para una sazón increíble.
	</div>
</div>

    <div id="container">
	<a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://cdn.dribbble.com/users/1055435/screenshots/6506586/tomato-dribbble.gif" alt="Omar"> </a>
	<div class="box-text">
	<h1>FRESCURA</h1><br><br>
	<br><br><p>Usamos los más frescos y mejores ingredientes para que puedas disfrutar de un producto de calidad.
	</div>
</div>

    <div id="container">
	<a href="https://www.facebook.com/groups/ElzeroWebSchool/" target="_blank"><img src="https://media0.giphy.com/media/eMt9husy3gJZp0b8FG/giphy-downsized-large.gif" alt="Omar"> </a>
	<div class="box-text">
	<h1>SABOR</h1>
	<br><br><br><br><br><br><p>¿Piensas que nuestros alimentos son iguales al resto? Ven y compruébalo tú mismo.
	</div>

</div>


    <div class="card mx-auto bg-white border-danger" style="max-width: 40rem; border-width: thick">
        <div class="card-header bg-warning">
            <span class="fa-stack -align-right">
            <i class="fa fa-1.8x fa-stack-1.8x"></i>
            <i class="fa fa-forward fa-stack-1.8x "></i>
        </span><b><i>¡DATE UN BREAK!</i></b>
        </div>

  <div class="card-body">
    <h5 class="card-title text-danger">Opciones alimenticias</h5>
      <p class="card-text "><b>Seleccione una de nuestras apetitosas opciones de comidas:</b></p>
  </div>
    </div>



<link rel="stylesheet" href="{% static 'css/gl.css' %}">
    <div class="wrapper">
            <div class="box">
                <div class="description"><br><br>
                    <h2>Fuertes</h2>
                    <p class="card-text text-justify px-3 text-white"><b>Si buscas algo con qué saciar tu enorme hambre, esta es la mejor opción para ti.</b></p>
                    <ul class="list">
                     <a href="banquetes/#fu" class="btn btn-danger mx-auto">Tengo hambre</a>

                    </ul><br>
                </div>
            </div>

            <div class="box">
                <div class="description"><br><br>
                    <h2>Postres</h2>
                    <p class="card-text text-justify px-3 text-white"><b>Si quieres una grata y dulce sorpresa, cualquiera de nuestros postres te brindarán esa experiencia.</b></p>
                    <ul class="list">
                    <a href="banquetes/#po" class="btn btn-success mx-auto">Vamo po'</a>
                    </ul><br>
                </div>
            </div>

            <div class="box">
                <div class="description"><br><br>
                    <h2>Bebidas</h2>
                    <p class="card-text text-justify px-3 text-white"><b>Si quieres refrescar tu paladar y acompañar nuestros Banke-T's esta es tu elección.</b></p>
                    <ul class="list">
                    <a href="banquetes/#be" class="btn btn-info mx-auto">Tengo sed</a>
                    </ul><br>
                </div>
            </div>
    </div>




 <script src="https://kit.fontawesome.com/bad7f7f5d4.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
<!-- partial -->
  <script  src="{% static 'js/gl.js' %}"></script>
      <script  src="{% static 'js/gl1.js' %}" crossorigin="anonymous"></script>
          <script  src="{% static 'js/gl2.js' %}"></script>



{% endblock %}
         background-image : url("https://cdna.artstation.com/p/assets/images/images/022/177/648/original/cara-kornhaus-fire-copy.gif?1607041513");
