 {% extends "Doctor.html" %}
	{% load crispy_forms_tags %}
{% block background %}{% load static %}{% static 'img/registro.jpg' %}{% endblock %}

  <!--Password Reset Confirm-->
{% block headers %}
    <div class="container py-5">
	    <h1>Reestablecimiento:</h1><br>
        <p>Por favor, introduzca su nueva contraseña.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}  <br>
            <button class="btn btn-primary" type="submit">Reestablecer Contraseña</button>
        </form>
    </div>

{% endblock %}