 {% extends "Doctor.html" %}
	{% load crispy_forms_tags %}
{% block background %}{% load static %}{% static 'img/login.jpg' %}{% endblock %}

	<!--Reset Password-->
    {% block headers %}
	<div class="container p-5">
  	 	<h1 class="font-weight-bold mt-lg-4">Reestablecer Contraseña</h1>
		<br>
		<p>¿Olvidaste tu contraseña, colega? Introduce tu dirección de correo electrónico y te enviaremos las instrucciones para crear una nueva.</p><br>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
  	</div>

{% endblock %}